// 寫在這裡的css可以被webpacker即時編輯打包（hard reload）
// hard reload

@import 'stories.scss';

.navbar-link {
    .user-avatar {
        border-radius: 50%;
        margin-right: 10px;
    }
}

// navbar付費皇冠圖示
.crown {
    margin-right: 10px;
}
